name: Publish Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Git Credentials
        run: |
          git config user.name "Pranav Kishan"
          git config user.email "ty.pranavkishan7905@gmail.com"
          
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          
      - run: pip install mkdocs-material 
      
      - run: mkdocs gh-deploy --force
